@model IEnumerable<User>

<table class="table text-center" id="UserTable">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date of birth</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @*displays user data*@
        @foreach (var user in Model)
        {
            <tr id="@user.Id">
                <th scope="row">@Html.DisplayFor(data => user.Id)</th>
                <td>@Html.DisplayFor(data => user.Name)</td>
                <td>@Html.DisplayFor(data => user.DOB)</td>
                <td>@Html.DisplayFor(data => user.Address)</td>
                <td>
                        <button class="btn btn-sm viewUser"><i class="fa fa-eye"></i></button>
                        <button class="btn btn-sm editUser" ><i class="fa fa-user-pen"></i></button>
                        <button class="btn btn-sm deleteUser"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>