@model IEnumerable<User>
@{
    ViewData["Title"] = "Test-01";
}

<h1 class="display-4 text-center mb-5">Users Management</h1>

<div class="UserData ">
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Date of birth</th>
                <th scope="col">Address</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(data => user.Id)</th>
                    <td>@Html.DisplayFor(data => user.Name)</td>
                    <td>@Html.DisplayFor(data => user.DOB)</td>
                    <td>@Html.DisplayFor(data => user.Address)</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-sm " asp-controller="TestOne" asp-action="UserDetails" asp-route-id="@user.Id"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-sm" asp-controller="TestOne" asp-action="Edit" asp-route-id="@user.Id"><i class="fa fa-user-pen"></i></a>
                            <form method="post" asp-controller="TestOne" asp-action="Delete" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-sm" onclick="return confirm('Are you sure you want to delete this?')">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="my-3">
    <a class="btn btn-outline-dark my-3" asp-controller="TestOne" asp-action="Create"><i class="fa fa-plus"></i> Create new User</a>
</div>